<div class="row">
    <div class="col-lg-12">
        <h2>Information <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></h2>
        <p>This page works with XML structures:</p>
        <ul>
            <li>The first panel allows you to parse XML</li>
            <li>The second panel will generate an XML file and save it in the My Documents folder</li>
        </ul>
    </div>
</div>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">LINQ 2 XML</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label for="comment">Output XML:</label>
                        <textarea readonly class="form-control" rows="25">@ViewBag.Xml</textarea>

                        <ul>
                            <li>Node count: @ViewBag.NodeCount</li>
                            <li>Elements with first name: @ViewBag.CountFirstName</li>
                            <li>Elements with crazy count: Off The Charts: @ViewBag.CrazyCount (@ViewBag.CrazyCountList)</li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Read XML</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label for="comment">Input XML:</label>
                        <textarea class="form-control" rows="5" id="comment"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="comment">Output XML:</label>
                        <textarea readonly class="form-control" rows="5" id="commentResponse"></textarea>
                    </div>


                    <div class="form-group">
                        <button type="button" id="btnValidate" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Write XML</a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label for="comment">Enter some text:</label>
                        <textarea class="form-control" rows="5" id="txtCreate"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="button" id="btnCreate" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




@section scripts {
    <script type="text/javascript">

        $("#btnValidate").click(function () {
            $.ajax({
                type: "POST",
                dataType: 'json',
                url: '/Xml/Validate',
                data: { xml: $("#comment").val() },
                success: function (response) {
                    $("#commentResponse").val(response);
                }
            });
        });

        $("#btnCreate").click(function () {
            $.ajax({
                type: "POST",
                dataType: 'json',
                url: '/Xml/Create',
                data: { xml: $("#txtCreate").val() },
                success: function (response) {
                    alert(response);
                }
            });
        });

    </script>
}